.main__box
  .main__box__left
    .main__box__left__image
      No Image
  .main__box__right
    .main__box__right__text
      音楽の紹介文概要：
      .main__box__right__text--inner
        test
    .main__box__right__music--url
      音楽のMP3リンク：
      .main__box__right__music--url--inner
        test
    .main__box__right__more
      詳しく見る