.group__edit
  .group__edit__box
    .group__edit__box__name
      グループ名
    .group__edit__box__menmber
      メンバー
    .group__edit__box__image
      グループイメージ
    .group__edit__box__active--area
      主な活動地域
    .group__edit__box__homepage
      ホームページ