.company__edit
  .company__edit__box
    .company__edit__box__name
      企業名
    .company__edit__box__menmber
      所属従業員名
    .company__edit__box__product
      主に扱う商品
    .company__edit__box__address
      企業住所
    .company__edit__box__homepage
      企業サイト
    .company__edit__box__business
      業種
    .company__edit__box__email
      メールアドレス
    .company__edit__box__phone
      企業の電話番号
    .company__edit__box__image
      企業イメージ