.group {
  background-color: #fafafa;
  &__title {
    text-align: center;
    margin: 15px 6%;
    padding: 15px;
    background-position: 80% 70%;
    background-image: image-url("photo-1494049694820-92a3163b10ad.jpeg");
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 3px #000;
  }
  &__new {
    margin: 20px 90px 0;
    padding-bottom: 40px;
    &__form {
      background-color: #fff;
      display: flex;
      .group__new__box {
        margin: 20px;
        text-align: center;
        color: #333;
        &__image {
          width: 200px;
          height: 200px;
          margin: 20px;
          max-height: 240px;
          max-width: 240px;
          background-color: #eee;
          #preview {
            width: 200px;
            height: 200px;
          }
          #upload_image {
            display: none;
          }
        }
      }
      .group__new__box__under {
        border-left: dashed 2px #ccc;
        padding: 30px;
        &__name {
          &--inner {
            margin-left: 20px;
            .group__name {
              border: none;
              background-color: #eee;
              height: 60px;
              width: 600px;
              font-size: 30px;
              margin-bottom: 25px;
            }
          }
        }
        &__active--area {
          margin-bottom: 25px;
          &--inner {
            margin-left: 20px;
            #group_area_id {
              height: 60px;
              width: 600px;
              font-size: 20px;
            }
          }
        }
        &__homepage {
          margin-bottom: 25px;
          &--inner {
            margin-left: 20px;
            .group__homepage {
              border: none;
              background-color: #eee;
              height: 60px;
              width: 600px;
              font-size: 30px;
            }
          }
        }
        &__since {
          margin-bottom: 25px;
          &--inner {
            margin-left: 20px;
            #group_year_id {
              height: 60px;
              width: 600px;
              font-size: 20px;
            }
          }
        }
        &__submit {
          margin: 40px 100px 30px;
          .group__submit {
            border: none;
            width: 400px;
            height: 30px;
            background-color: #333;
            color: #fafafa;
            cursor: pointer;
            margin-bottom: 20px;
          }
          a {
            text-decoration: none;
            padding: 7px 80px;
            background-color: rgb(248, 99, 99);
            margin: 0 50px;
          }
        }
      }
    }
  }
}

#user-search-field {
  margin: 5px 0 0 20px;
  padding: 10px 20px;
  border: solid 2px #ccc;
}

#user-search-result {
  .addmember__group {
    display: flex;
    margin-left: 20px;
    padding: 10px 0;
    p {
      margin-right: 10px;
    }
    .user__search__add {
      color: rgb(49, 28, 236);
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.addmember__field {
  margin: 10px 0 30px 20px;
  padding: 5px;
  background-color: #eee;
  .addmember__group {
    display: flex;
    padding: 5px 10px;
    p {
      margin-right: 10px;
    }
    .user-search-remove {
      color: rgb(241, 59, 59);
      font-weight: bold;
      cursor: pointer;
    }
  }
}