.group__show {
  background-color: #fafafa;
  padding-bottom: 10px;

  &__title {
    text-align: center;
    margin: 60px 90px;
    height: 60px;
    line-height: 50px;
    background-image: image-url("photo-1465225314224-587cd83d322b.jpeg");
    background-position: 50% 50%;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
    color: #fafafa;
  }
  &__list {
    margin: 0 90px;
    background-color: #fff;
    &__box {
      display: flex;
      margin-bottom: 20px;
      border-bottom: solid 20px #fafafa;
      &__upper {
        margin: 20px;
        text-align: center;
        color: #333;
        &__image {
          img {
            width: 200px;
            height: 200px;
          }
        }
        &--inner {
          margin: 20px;
          max-height: 240px;
          max-width: 240px;
          &__music {
            margin: 10px 0 ;
            background-color: #eee;
            a {
              text-decoration: none;
              color: #333;
              transition: background-color .2s;
              background-color: #eee;
              padding: 5px 50px;
            }
            a:hover {
              background-color: #ccc;
            }
          }
          &__edit {
            a {
              text-decoration: none;
              color: #333;
              background-color: #eee;
              padding: 5px 35px;
              transition: background-color .2s;
            }
            a:hover {
              background-color: #ccc;
            }
          }
        }
      }
      &__under {
        border-left: dashed 2px #ccc;
        padding: 30px;
        &__name {
          &--inner {
            margin-left: 20px;
            height: 60px;
            width: 600px;
            font-size: 30px;
            margin-bottom: 25px;
          }
        }
        &__member {
          margin-bottom: 25px;
          &--inner {
            margin-left: 20px;
            height: 60px;
            width: 600px;
            font-size: 20px;
          }
        }
        &__active--area {
          margin-bottom: 25px;
          &--inner {
            margin-left: 20px;
            height: 60px;
            width: 600px;
            font-size: 20px;
          }
        }
        &__homepage {
          margin-bottom: 25px;
          &--inner {
            margin-left: 20px;
            height: 60px;
            width: 600px;
            font-size: 20px;
          }
        }
        &__disc {
          margin-bottom: 25px;
          &--inner {
            margin-left: 20px;
            height: 60px;
            width: 600px;
            font-size: 20p
          }
        }
      }
    }
  }
}

.back {
  margin: 20px 30px;
  color: #fafafa;
  a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: rgb(245, 70, 70);
    border-radius: 5px;
  }
  a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2ea';
    margin: 0 5px;
  }
}