.user__new {
  background-color: #fafafa;
  &__main {
    margin: 60px 90px 0;
    padding-bottom: 40px;
    &__title {
      width: 100%;
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      margin-bottom: 20px;
      padding: 20px 0;
      background-image: image-url("photo-1494049694820-92a3163b10ad.jpeg");
      background-position: 100% 70%;
      color: #eee;
      text-shadow: 0px 0px 3px #000;
    }
    &__box {
      background-color: #fff;
      height: 200px;
      &__image {
        width: 180px;
        height: 90%;
        margin: 0 auto;
        &--inner {
          height: 100%;
          width: 100%;
          #preview {
            background-color: #fafafa;
            border-radius: 50%;
            height: 100%;
            width: 100%;
            margin-top: 10px;
            cursor: pointer;
          }
          .user__image {
            display: none;
          } 
        }
      }
    }
    &__list {
      background-color: #fff;
      margin-top: 10px;
      padding: 50px 100px;
      line-height: 50px;
      position: relative;
      &__name {
        &--inner {
          .user__name {
            margin-top: 10px;
            padding: 30px;
            border: solid 1px #ccc;
            background-color: #fafafa;
            width: 80%;
            font-size: 30px;
          }
        }
      }
      &__login {
        background-image: image-url("photo-1526142684086-7ebd69df27a5.jpeg");
        background-position: 50% 80%;
        height: 50px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        text-shadow: 2px 2px 3px #fff;
      }
      &__email {
        &--inner {
          .user__email {
            margin-top: 10px;
            padding: 30px;
            border: solid 1px #ccc;
            background-color: #fafafa;
            width: 80%;
            font-size: 30px;
          }
        }
      }
      &__introduce {
        &--inner {
          .user__introduce {
            margin-top: 10px;
            padding: 30px;
            border: solid 1px #ccc;
            background-color: #fafafa;
            width: 80%;
            height: 70px;
          }
        }
      }
      &__password {
        &--inner {
          .user__password {
            margin-top: 10px;
            border: solid 1px #ccc;
            background-color: #fafafa;
            width: 82%;
            padding: 20px;
          }
        }
      }
      &__submit {
        .user__submit {
          background-color: rgb(4, 4, 58);
          color: #fff;
          border: none;
          font-weight: bold;
          width: 200px;
          padding: 10px 0;
          margin: 20px 0;
          cursor: pointer;
        }
      }
    }
  }
}

.cancel {
  &_btn {
    text-decoration: none;
    background-color: red;
    color: #fff;
    width: 100px;
    height: 30px;
    line-height: 18px;
    padding: 10px 10px;
  }
}