.edit__music
  .edit__music__format
    .edit__music__format__title
      楽曲名
    .edit__music__format__genre
      音楽ジャンル
    .edit__music__format__image
      No Image
    .edit__music__format__int
      楽曲の紹介