.new__music
  .new__music__format
    .new__music__format__title
      楽曲名
    .new__music__format__genre
      音楽ジャンル
    .new__music__format__image
      No Image
    .new__music__format__mp3url
      MP3url
    .new__music__format__int
      楽曲の紹介